-- Generated corrected SQL with proper UUID linking
-- First, insert User records and capture their UUIDs

-- User 1: Gautam Mukherjee
INSERT INTO test_app_user (id, password, last_login, is_superuser, is_staff, is_active, date_joined, email, roll_number, role, status, invited_by_id, credit_points) VALUES ('ade76484-ae73-498a-9b8d-830566e45f5e', '12345678', NULL, false, false, true, '2025-10-14T16:59:33+00', 'gautamukh@gmail.com', '', 'ALUMNI', 'PENDING', NULL, 0);
-- User 2: Goutam Das
INSERT INTO test_app_user (id, password, last_login, is_superuser, is_staff, is_active, date_joined, email, roll_number, role, status, invited_by_id, credit_points) VALUES ('5792a920-511e-4451-a6ed-6eaf76c2d035', '12345678', NULL, false, false, true, '2025-10-14T16:59:33+00', 'goutamdas.iift@gmail.com', '', 'ALUMNI', 'PENDING', NULL, 0);
-- User 3: Somnath Chatterjee
INSERT INTO test_app_user (id, password, last_login, is_superuser, is_staff, is_active, date_joined, email, roll_number, role, status, invited_by_id, credit_points) VALUES ('c22ad2e6-f5f6-4a88-ab16-d004de3ab63d', '12345678', NULL, false, false, true, '2025-10-14T16:59:33+00', 'somnathchatterjeegm@gmail.com', '', 'ALUMNI', 'PENDING', NULL, 0);
-- User 4: Sandeep Senapati
-- User 5: Supriyo Roy Banerjee
-- User 6: Sampa Dhabal
-- User 7: Amitava Bhattacharya
-- User 8: Prateep Guha
-- User 9: Soumitra Bhattacharya
-- User 10: Abhijit Banerjee
-- User 11: Debashish Chakravarty
-- User 12: Anand Surelia
-- User 13: Saikat Sarkar
-- User 14: Nirmal Kumar Agarwala
-- User 15: Soumi Mukherjee
-- User 16: Amit Bhutoria
-- User 17: Umesh Kumar Dubey
-- User 18: Arnab Datta
-- User 19: Saktipada Jana

-- Now insert AlumniProfile records with correct user_id references

-- AlumniProfile 1: Gautam Mukherjee
INSERT INTO test_app_alumniprofile (full_name, graduation_year, department, profile_picture_url, about_me, credit_score, user_id) VALUES ('Gautam Mukherjee', '1985', 'ECE', NULL, '', 0, 'ade76484-ae73-498a-9b8d-830566e45f5e');
-- AlumniProfile 2: Goutam Das
INSERT INTO test_app_alumniprofile (full_name, graduation_year, department, profile_picture_url, about_me, credit_score, user_id) VALUES ('Goutam Das', '1993', 'ECE', NULL, '', 0, '5792a920-511e-4451-a6ed-6eaf76c2d035');
-- AlumniProfile 3: Somnath Chatterjee
INSERT INTO test_app_alumniprofile (full_name, graduation_year, department, profile_picture_url, about_me, credit_score, user_id) VALUES ('Somnath Chatterjee', '1985', 'EE', NULL, '', 0, 'c22ad2e6-f5f6-4a88-ab16-d004de3ab63d');
-- AlumniProfile 4: Sandeep Senapati
-- AlumniProfile 5: Supriyo Roy Banerjee
-- AlumniProfile 6: Sampa Dhabal
-- AlumniProfile 7: Amitava Bhattacharya
-- AlumniProfile 8: Prateep Guha
-- AlumniProfile 9: Soumitra Bhattacharya
-- AlumniProfile 10: Abhijit Banerjee
-- AlumniProfile 11: Debashish Chakravarty
-- AlumniProfile 12: Anand Surelia
-- AlumniProfile 13: Saikat Sarkar
-- AlumniProfile 14: Nirmal Kumar Agarwala
-- AlumniProfile 15: Soumi Mukherjee
-- AlumniProfile 16: Amit Bhutoria
-- AlumniProfile 17: Umesh Kumar Dubey
-- AlumniProfile 18: Arnab Datta
-- AlumniProfile 19: Saktipada Jana

-- Verification queries:
-- SELECT u.email, u.id, a.full_name FROM test_app_user u JOIN test_app_alumniprofile a ON u.id = a.user_id;
-- SELECT COUNT(*) FROM test_app_alumniprofile WHERE user_id IS NOT NULL;
